.areaDropdownAddUser {
    position: relative;
    z-index: 999 !important;
}

.changePasswordIconContainer {
    position: relative;
}

.changePasswordIcon {
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-size: 18px;
    cursor: pointer;
}
.cancelBtnChangePassword
{
    background-color: #888e94 !important;
}
