<form [formGroup]="myForm" class="m-3">

    <div class="row mt-2 ">
        <div class="col-6 outerBorder">
            <div class="bolderLabel">Personal Info</div>
            <app-common-input-box [label]="'Username'" [controlName]="'username'" [parentForm]="myForm"
                [fieldType]="'text'" [idSelector]="'username'" [placeholderText]="'Enter your name'"
                [errorMessage]="'Username is required'" [invalidForm]="invalidForm" [required]="true">
            </app-common-input-box>
        </div>
    </div>

    <div class="col-6 ">
        <app-common-input-box [label]="'Age'" [controlName]="'age'" [parentForm]="myForm" [fieldType]="'number'"
            [idSelector]="'age'" [placeholderText]="'Enter your age'" [errorMessage]="'Age is required'"
            [invalidForm]="invalidForm" [required]="true"></app-common-input-box>
    </div>

    <app-common-dropdown [label]="'Country'" [controlName]="'country'" [parentForm]="myForm" [idSelector]="'country'"
        [placeholderText]="'Enter your Country'" [errorMessage]="'Country is required'" [objectKeyToShow]="'name'"
        [selectedValue]="'John Doe'" [invalidForm]="invalidForm" [dropDownValue]="users" [objectKeyAsValue]="'name'">
    </app-common-dropdown>

    <button type="submit" class="btn btn-success mt-3" (click)="getData()">Get Data</button>

</form>

<h2 class="mt-3">This is employee Details</h2>
<app-common-table [headers]="employeeHeader" [data]="mockData" [mockData]="mockData"></app-common-table>


<h2 class="mt-3">This is User Details</h2>
<app-common-table [headers]="['Name', 'Email']" [data]="users" [dataToRemove]="['id', 'age']"></app-common-table>

<app-common-checkbox-dropdown [dropdownOptions]="users"[errorMessage]="'Choose the user'" [invalidForm]="invalidForm" [objectKeyToShow]="'name'" ></app-common-checkbox-dropdown>

<app-common-checkbox-dropdown [dropdownOptions]="pokeDetails"[errorMessage]="'Choose the pokemon'" [invalidForm]="invalidForm" [objectKeyToShow]="'name'" ></app-common-checkbox-dropdown>
