@if(spinnerLoading) {
    <div class="spinner-container" [class.show]="spinnerLoading">
        <app-spinner-loading></app-spinner-loading>
    </div>
}
<app-common-breadcrumbs [user]="userOptions" (save)="getInputFormValues()"></app-common-breadcrumbs>
<form [formGroup]="myForm" class="mt-4">
    <div class="container">
        <div class="row mb-2">
            <div class="col-4">
                <app-common-input-box [label]="'Email Id'" [controlName]="'emailid'" [parentForm]="myForm"
                    [fieldType]="'text'" [idSelector]="'emailid'" [placeholderText]="'Enter user email'"
                    [errorMessage]="'Email id is required'" [invalidForm]="invalidForm" [required]="true">
                </app-common-input-box>
            </div>
            <div class="col-4">
                <app-common-input-box [label]="'First Name'" [controlName]="'firstname'" [parentForm]="myForm"
                    [fieldType]="'text'" [idSelector]="'firstname'" [placeholderText]="'Enter user\'s first name'"
                    [errorMessage]="'First name is required'" [invalidForm]="invalidForm"
                    [required]="true"></app-common-input-box>
            </div>
            <div class="col-4">
                <app-common-input-box [label]="'Last Name'" [controlName]="'lastname'" [parentForm]="myForm"
                    [fieldType]="'text'" [idSelector]="'lastname'" [placeholderText]="'Enter user\'s last name'"
                    [errorMessage]="'Last name is required'" [invalidForm]="invalidForm"
                    [required]="true"></app-common-input-box>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <app-common-input-box [label]="'Job Title'" [controlName]="'jobtitle'" [parentForm]="myForm"
                    [fieldType]="'text'" [idSelector]="'jobtitle'" [placeholderText]="'Enter job title'"
                    [errorMessage]="'Job title is required'" [invalidForm]="invalidForm"
                    [required]="true"></app-common-input-box>
            </div>
            <div class="col-4">
                <app-common-dropdown [label]="'Access Level'" [controlName]="'accesslevel'" [parentForm]="myForm"
                    [idSelector]="'accesslevel'" [placeholderText]="'Choose access level'"
                    [errorMessage]="'Access level is required'" [objectKeyToShow]="'value'" [selectedValue]="'John Doe'"
                    [invalidForm]="invalidForm" [dropDownValue]="accessLevelLists"  [objectKeyAsValue]="'id'" [required]="true">
                </app-common-dropdown>
            </div>
            <div class="col-4 areaDropdownAddUser">
                <app-common-checkbox-dropdown [dropdownOptions]="accessLevelLists" [errorMessage]="'Area is required'" [invalidForm]="invalidForm" [objectKeyToShow]="'name'" [label]="'Area Access'" [required]="true"></app-common-checkbox-dropdown>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <app-common-input-box [label]="'Password'" [controlName]="'password'" [parentForm]="myForm"
                    [fieldType]="'password'" [idSelector]="'password'" [placeholderText]="'Enter password'"
                    [errorMessage]="'password is required'" [invalidForm]="invalidForm"
                    [required]="true"></app-common-input-box>
            </div>
        </div>
    </div>
</form>