<div class="relative w-100 tableContainer">
    <div>
        <table class="table">
            <caption></caption>
            <thead class="noWrap">
                <tr class="text-center">
                    @for(header of headers; track $index)
                    { <th>
                        <div class="d-flex justify-content-between align-items-center gap-4 px-3">
                            <span> {{ header }}</span>
                            <span class="d-grid">
                                <span class="fa-solid fa-caret-up sortingArrowSize"
                                    (click)="sortByColumnAscending($index)"
                                    [ngClass]="{'selectedSorting': ascendingClicked && sortByColumn === $index}">
                                </span>
                                <span class="fa-solid fa-caret-down sortingArrowSize"
                                    (click)="sortByColumnDescending($index)"
                                    [ngClass]="{'selectedSorting': descendingClicked && sortByColumn === $index}">
                                </span>
                            </span>
                        </div>
                    </th> }
                </tr>
            </thead>
            <tbody>
                @if(mockData.length < 1) { <tr class="text-center">
                    <td class="text-center" [colSpan]="headers.length">No data found</td>
                    </tr>
                    }@else{
                    @for(user of updateDisplayedData(); track $index)
                    {
                    <tr class="text-center" (click)="sendRowDetails(data)">
                        @for(key of getUserKeys(user); track $index)
                        {
                        @if(key !== 'id' && !dataToRemove.includes(key))
                        {
                        <td>
                            {{user[key]}}
                        </td>
                        }
                        }
                    </tr>
                    }
                    }
            </tbody>
        </table>
    </div>
</div>
<div class="row paginationContent mt-3">
    <div class="col-5"></div>
    <div class="col-7 d-flex justify-content-end align-items-center gap-2 rowsPerPage">
        <div class="d-flex gap-2 justify-content-center align-items-center rowsPerPageContainer">
            <div class="">Rows per page</div>
            <select class="p-1" (change)="onItemsPerPageChange($event)">
                <option *ngFor="let pageItem of pageItems" [value]="pageItem">{{ pageItem }}</option>
            </select>
        </div>
        <div class="d-flex gap-2 align-items-center">
            <button class="btn paginationButtons rounded col-1" (click)="onPageChange(currentPage - 1)"
                [disabled]="currentPage === 1"
                [ngClass]="{'disabledPaginations': currentPage === 1}">
                <div class="d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-angles-left"></i>
                </div>
            </button>
            <div class="d-flex gap-2 align-items-center rowsPerPageContainer">
                <div class="">Page</div>
                <select class="p-1" [(ngModel)]="currentPage" (ngModelChange)="onPageChange($event)">
                    @for(page of availablePages(totalPages); track $index)
                    {
                    <option [value]="page">{{ page }}</option>
                    }
                </select>
                <div class="d-flex gap-2">
                    <div>of </div>
                    <div>{{ totalPages }}</div>
                </div>
            </div>
            <div>
                <button class=" col-1 btn paginationButtons rounded" (click)="onPageChange(currentPage + 1)"
                    [disabled]="currentPage === totalPages"
                    [ngClass]="{'disabledPaginations': currentPage === totalPages}">
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>