<div class="relative w-100">

    <div class="d-flex justify-content-center align-items-center">
        <table>
            <thead>
                <tr class="text-center">
                    @for(header of headers; track $index)
                    { <th>
                        <div class="d-flex justify-content-between align-items-center gap-4 px-3">
                            <span> {{ header }}</span>
                            <span class="d-grid">
                                <span class="fa-solid fa-caret-up sortingArrowSize"
                                    (click)="sortByColumnAscending($index)"
                                    [ngClass]="{'selectedSorting': ascendingClicked && sortByColumn === $index}">
                                </span>
                                <span class="fa-solid fa-caret-down sortingArrowSize"
                                    (click)="sortByColumnDescending($index)"
                                    [ngClass]="{'selectedSorting': descendingClicked && sortByColumn === $index}">
                                </span>
                            </span>
                        </div>
                    </th> }
                </tr>
            </thead>
            <tbody>
                @if(mockData.length < 1) { <tr class="text-center">
                    <td class="text-center" [colSpan]="headers.length">No data found</td>
                    </tr>
                    }@else{
                    @for(user of updateDisplayedData(); track $index)
                    {
                    <tr class="text-center">
                        @for(key of getUserKeys(user); track $index)
                        {
                        @if(key !== 'id' && !dataToRemove.includes(key))
                        {
                        <td>
                            {{user[key]}}
                        </td>
                        }
                        }
                    </tr>
                    }
                    }
            </tbody>
        </table>
    </div>



    <div class="row paginationContent">
        <div class="col d-flex justify-content-between">
            <div class="rowsPerPage d-flex gap-2 align-items-center">
                <label for="">Rows per page</label>
                <select name="" id="" (change)="onItemsPerPageChange($event)">
                    <option *ngFor="let pageItem of pageItems" [value]="pageItem">{{ pageItem }}</option>
                </select>
            </div>
            <div class="paginationNav">
                <button class="btn paginationButtons rounded" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                    
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-angles-left"></i>
                    </div>
                </button>
                Page
                <select [(ngModel)]="currentPage" (ngModelChange)="onPageChange($event)">
                    @for(page of availablePages(totalPages); track $index)
                    {
                        <option [value]="page">{{ page }}</option>
                    }
                </select>
                of {{ totalPages }}
                <button class="btn paginationButtons rounded" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-angles-right"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>
  

</div>