table {
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-collapse: separate;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
    border-radius: 20px !important;
}

thead {
    border-bottom: none !important;
    position: sticky;
    top: 0;
    background-color: #f0f7fb !important;
    width: auto;
    height: 40px;
    z-index: 1;
}

table th {
    background-color: #f0f7fb !important;
    color: #007cba !important;
    line-height: 17.07px;
    box-shadow: none !important;
    border-bottom: none !important;
    font-size: 0.875rem;
    font-weight: 600 !important;
}

td {
    border-collapse: collapse;
    font-weight: 500 !important;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    padding: 16px;
    color: #30261d !important;
    opacity: .7;
}

th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.sortingArrowSize {
    font-size: 10px;
    cursor: pointer;
}

.selectedSorting
{
    color: #B2CDE0;
}

.noWrap {
    white-space: nowrap;
}

.tableContainer{
    height: 375px;
    overflow: auto;
}   

.paginationButtons
{
   background-color: #f72257;
   color: white;
   border-radius: 50% !important;
   text-align: center;
   font-size: 12px;
   opacity: .7;
}

.paginationButtons:focus
{
    border: none;
}

.rowsPerPage {
    font-size: 12px;
    font-weight: 500;
    color: #30261db2;
}

.rowsPerPageContainer>select {
    border-radius: 6px !important;
    width: 55px;
}

.disabledPaginations
{
    opacity: .4;
}

tr:hover {
    cursor: pointer;
}