.profile-circle {
    background-color: #007cba;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 500;
}

.dropdown-menu:not(.viewProfile) {
    max-width: 150px;
    max-height: 400px;
    overflow-y: scroll;
}

.viewProfile {
    font-weight: 500;
}

.viewProfile:hover {
    cursor: pointer;
}

.dropdown-item {
    display: block;
    width: 180px;
    height: auto;
    overflow: hidden;
    white-space: normal;
}

.dropdown-item:hover {
    cursor: pointer;
}

.shadow {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.3) !important;
}

.sidebar {
    background-color: #b8d8eb38 !important;
    height: 100vh;
}

.headerContainer {
    height: 100vh;
    overflow-y: hidden;
}

.sideNavList>span {
    color: #a7a8a7;
    font-weight: 500;
}

.sideNavList {
    padding: 14px 13px !important;
}

.sideNavList:hover {
    background-color: #e5ecf1;
}

.main-content {
    height: calc(95vh - 56px);
    overflow-y: auto;
}

.active,
.active:hover {
    background-color: #007cba;
}

.active>span,
.active>i {
    color: white;
    font-weight: bold;
}

.locationPlaceholder {
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .logoContainer {
        display: flex;
        justify-content: end;
    }

    .profileIcon {
        margin-left: 20px;
    }

}