.commonLabel {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

input {
  font-size: 13px;
  padding: 10px;
  font-weight: 500;
  color: rgba(48, 38, 29, 0.698);
}

::placeholder {
  color: rgba(48, 38, 29, 0.698);
  opacity: 0.7;
}

.textboxContainer {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  color: rgb(151, 150, 150);
  cursor: pointer;
}

input:disabled + .eyeIcon {
  pointer-events: none !important;
  opacity: 0.5 !important;
}