.pageNotFoundContent {
    color: rgba(48, 38, 29, 0.3);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
}

.errorName {
    font-size: 26px;
    font-weight: 600;
    color: rgb(0, 124, 186) !important;
}