<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container mx-auto">
        <div class="row justify-content-center">
            <img class="h-50 w-50" src="assets/Images/404.svg" alt="Under Development" />
        </div>
        <!-- <div class="row justify-content-center mb-2 errorName">
            Sorry, 404 Error
        </div> -->
        <div class="row justify-content-center">
            <div class="col-md-8 text-center pageNotFoundContent">
                Looks like a stray ball broke through our window to the web world, resulting in a 404 error. But fear
                not, our tech team's on it, ready to patch things up for seamless access!
            </div>
        </div>
    </div>
</div>