<div class="container">
    <div class="row justify-content-center mt-5">
        <img class="h-auto w-auto" src="assets/Images/dev.png" alt="Under Development" />
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-md-8 text-center pageNotFoundContent">
            Looks like a stray ball broke through our window to the web world, resulting in a 404 error. But fear
            not,our tech team's on it, ready to patch things up for seamless access!
        </div>
    </div>
</div>