<div class="container">
    <div class="row">
        <div class="mt-4 d-flex justify-content-end tableOptions">
            <i class="fa-sharp fa-regular fa-circle-plus fa-lg me-4 custom-tooltip" style="color: #007cba;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Add User"></i>
            <i class="fa-sharp fa-regular fa-filter-list fa-lg me-4" style="color: #007cba;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Filter"></i>
            <i class="fa-solid fa-down-to-line fa-lg" style="color: #007cba;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Download"></i>
        </div>
    </div>
</div>