.customCheckboxDropdownContainer {
    position: relative;
}

.customCheckboxDropdown {
    position: absolute;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 2px;
    margin-top: 2px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: lightgray;
}


.commonLabel {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.customCheckBox {
    border: 1px solid grey;
    border-radius: 5px;
}

.customCheckBox:checked {
    background-color: #007cba;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.customCheckBoxTextbox {
    font-size: 13px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.customCheckboxOption {
    font-size: 13px;
    padding: 5px 10px;
}

.customCheckboxOption:hover,
.customCheckboxOption:hover .customFormCheckLabel {
    cursor: pointer;
    background-color: #f3f3f3;
}

input {
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
    color: rgba(48, 38, 29, 0.698);
}

::placeholder {
    color: rgba(48, 38, 29, 0.698);
    opacity: 0.7;
}
