<div class="container">
    <div class="row justify-content-center mt-5">
            <img class="h-auto w-auto" src="assets/Images/dev.png" alt="Under Development" />
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-3 text-center page-title">Page under Development</div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-md-8 text-center page-content">
            The menu you are currently looking for is currently under development
        </div>
    </div>
</div>