.btn-apply {
    background-color: #EB0045;
}

.filterDisabled {
    opacity: 0.5;
}

.addFilterLabel {
    color: #007CBA;
    text-decoration: none;
    font-weight: 500;
}

.addFilterLabel:hover {
    cursor: pointer;
    text-decoration: underline;

}

.andLabel {
    color: #007CBA;
    font-weight: 500;
}

.removeFilterIcon {
    cursor: pointer;
    color: #a7a8a7;

}
.modal-content {
    --bs-modal-width: 1138px !important;
    width: 700px !important;
    max-width: none;
    padding: 20px !important;
}